body {
    font-family: Arial, sans-serif;
    background-color: #262323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20tpx rgba(221, 182, 119, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.toggle-buttons .toggle-button {
    padding: 15px 30px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: #f4f4f4;
    color: #555;
    transition: background-color 0.3s linear; /* Add transition effect */
}

.toggle-buttons .toggle-button.active,
#signIn:target ~ .toggle-buttons .toggle-button:first-child,
#signUp:target ~ .toggle-buttons .toggle-button:last-child {
    background-color: #00ff26;
    color: #fff;
}

.toggle-buttons .toggle-button:not(.active):not(:target) {
    background-color: #f4f4f4;
    color: #555;
}

.form-container {
    display: none;
}

#signIn:target .form,
#signUp:target .form {
    display: block;
}

#signIn:target,
#signUp:target,
.form.active {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00ff1e;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #24b300;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .toggle-buttons .toggle-button {
        padding: 10px;
        margin: 3px;
        flex: 1 1 45%; 
    }

    .form-group label {
        font-size: 14px; 
    }

    .form-group input {
        padding: 10px; 
    }

    button {
        padding: 10px; 
        font-size: 14px; 
    }
}
